
.screen{
    float: left;
    height: 10em;
    margin: 1em;
    margin-top: 0.5em;
    margin-bottom: 5em;
	margin-left: 1.82em;
    width: 20em;
    /* -webkit-transform: perspective(1000px);
    -webkit-transform-style: preserve-3d;
    -webkit-transition: .5s;
	-moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -moz-transition: .5s;
    -ms-transform: perspective(1000px);
    -ms-transform-style: preserve-3d;
    -ms-transition: .5s;
	-o-transform: perspective(1000px);
    -o-transform-style: preserve-3d;
    -o-transition: .5s;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    transition: .5s; */
    border-radius: 5px
}

/* .screen:hover {
    
    -webkit-transform: perspective(10000px) rotateX(90deg) translateY(-2em) translateZ(3em);
	-moz-transform: perspective(10000px) rotateX(90deg) translateY(-2em) translateZ(3em);
    -ms-transform: perspective(10000px) rotateX(90deg) translateY(-2em) translateZ(3em);
	-o-transform: perspective(10000px) rotateX(90deg) translateY(-2em) translateZ(3em);
	transform: perspective(10000px) rotateX(90deg) translateY(-2em) translateZ(3em);
    
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
} */

.screenImage {
    background-color: #222;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    display: block;
    height: 125%;
    width: 300px;
    -webkit-transition: .5s;
	-moz-transition: .5s;
    -ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

.imageWrapper {
display: flex;
justify-content: space-around;
margin: 0 auto;
flex-wrap: wrap;
padding-top: 1em;
padding-bottom: 1em;
padding-left: 0em;
padding-right: 0em;
overflow: hidden;
overflow-x: hidden;
height: inherit;
-webkit-animation: myfade 3s;
-moz-animation: myfade 3s;
-ms-animation: myfade 3s;
-o-animation: myfade 3s;
animation: myfade 3s;   
}


.hrScreenImage {
    background-color: #222;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    display: block;
    width: 40rem;
}

figcaption {
    /*background-color: #000000;*/
    color: #fff;
    padding: 1.5em;
    -webkit-transform: rotateX(-90deg);
    -webkit-transform-origin: 100% 50%;
    -webkit-transition: .5s;
	-moz-transform: rotateX(-90deg);
    -moz-transform-origin: 100% 50%;
    -moz-transition: .5s;
	-ms-transform: rotateX(-90deg);
    -ms-transform-origin: 100% 50%;
    -ms-transition: .5s;
	-o-transform: rotateX(-90deg);
    -o-transform-origin: 100% 50%;
    -o-transition: .5s;
	transform: rotateX(-90deg);
    transform-origin: 100% 50%;
    transition: .5s;

   
    -webkit-transform-origin: 100% 0%;
	-moz-transform-origin: 100% 0%;
	-ms-transform-origin: 100% 0%;
	-o-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
   
    
    -webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
background: #41295a;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */








}

.screen:hover figcaption {
    -webkit-box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
	-moz-box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
	-ms-box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
	-o-box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
    box-shadow: 0 20px 15px -10px hsla(0, 0%, 0%, .25);
    
}

h5 {
    font-weight: bold;
    text-align: center;
    font-family: 'Lobster', cursive;
}

.screenEnlarge{
    text-align: center;
	margin-top: 0.8em;
}


    



















@-webkit-keyframes myfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity 1;
    }
}

@keyframes myfade {
    0% {
        opacity: 0;
    }
    100% {
        opacity 1;
    }
}




